.Proposal__Card {
    height: auto;
    padding: 0px 10px;
    margin: 0px 20px;
    margin-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
}

.Proposal__Container {
    overflow: auto;
}

.Proposal__Title {
    padding-top: 5px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

.Proposal__Underline {
    border: 0.5px solid #d3d3d3;
}

.Proposal__Image {
    margin-top: 10px;
    height: 150px;
    width: 180px;
}

.Proposal__Title_Small {
    font-size: 12px;
    color: #63B995;
}

.Proposal__CardGrid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

.Proposal__CardTitle {
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
}

.Proposal__CardSubtitle {
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
}

.Proposal__CardInnerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    align-items: center;
}

.Proposal__Icons {
    width: 15px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
}
.Proposal__IconsValue {
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

.Proposal__MoreDetails {
    font-size: 14px;
    color: #63B995;
    font-weight: 700;
}

.Proposal__ButtonGrid {
    display: flex;
    align-items: flex-end;
}

.button__Proposals {
    background-color: #63B995;
    float: right;
    color: #fff;
    width: 150px;
    margin-bottom: 10px;
}

.More__Details {
    padding-top: 20px;
}

.More__DetailsGrid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 30px;
    background-color: #fff;
    margin: 0px 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.More__DetailsTitle {
    font-weight: 700;
}

.More__DetailsContent {
    font-size: 12px;
}

.More__DetailsLine {
    width: 100%;
    border: 0.5px solid #d3d3d3;
}

