.Navbar {
    position: relative;
    margin-bottom: 30px;
    background: #000;
    width: 100vw;
    height: 60px;
    z-index: -10;
}

.Navbar__Flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.Navbar__Logo {
    height: 46px;
    width: 46px;
    padding: 0px 10px;
}



.Navbar__Title {
    margin: 0px;
    color: #fff;
    font-weight: 700;
    padding-right: 20px;
}

.Navbar__Avatar {
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    position: relative;
    z-index: 10;
}

.inline {
    display: inline-block;
}
